@use '../abstracts/mixins';

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80px;
	background-color: rgb(159, 159, 159);
	font-size: 20px;
}

@include mixins.xl {
	.footer {
		font-size: 25px;
	}
}

@include mixins.xxl {
	.footer {
		font-size: 30px;
	}
}
