@use '../abstracts/mixins';

.main {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	font-size: 20px;
}

@include mixins.xl {
	.main {
		font-size: 25px;
	}
}

@include mixins.xxl {
	.main {
		font-size: 30px;
	}
}
