@use 'scss/abstracts/variables';
@use 'scss/abstracts/mixins';
@use 'scss/base/base';
@use 'scss/base/fonts';
@use 'scss/pages/home';
@use 'scss/layout/header';
@use 'scss/layout/main';
@use 'scss/layout/footer'; 




