$background: #F8F8F8;
$w: #ffffff;
$psevdo: #41F6D7;
$gg: #7E7E82;
html, body{
    min-height: 100vh;
}
.aside__item:hover::before{
    content: "";
    position: absolute;
    background-color: $psevdo;
    height: 32px;
    width: 4px;
    top: -8px;
    left: -24px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}
@media (min-width:320px) and (max-width: 767px) {
    .aside{
        flex-direction: column;
        box-sizing: border-box;
        background-color: white;
        width: 320px;
        height: 100%;
        font-family: inherit;
        position: absolute;
        z-index: 10;
        left: -100vw;
        padding: 16px 24px 32px 24px;
        transition: all .7s ease;

        .aside__cap{
            display: flex;
            justify-content: flex-start;
            justify-content: space-between;
        }
        .aside__img{
            margin-left: 72.73px;
        }
        .aside__basement{
            margin-left: 24px;
            position: absolute;
            bottom: 32px;
        }
        .aside__link{
            text-decoration: none;
            color: $gg;
        }
        .search-PC{
            display: inline-flex;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-image: url("../img/search.svg");
            position: relative;
            border: none;
            padding: 0;
            z-index: 0;
            margin-top: 8px;
        }
        
        
        .aside__list{
            margin-top: 20px;
            margin-left: 24px;
            padding: 0px;
        }
        .call-PC{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-image: url("../img/call.svg");
            border: none;
            margin-right: 8px;
        }
        .chat-PC{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-image: url("../img/chat.svg");
            border: none;
            
    
        }
        .profile-PC{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-image: url("../img/profile.svg");
            border: none;
            margin-left: 8px;
    
        }
        .aside__item{
            text-decoration: none;
            color: $gg;
            list-style: none;
            margin-bottom: 32px;
            margin-right: 75px;
            position: relative;
    
        }
        .aside__item:hover::before{
            content: "";
            position: absolute;
            background-color: $psevdo;
            height: 32px;
            width: 4px;
            top: -8px;
            left: -24px;
            border-top-right-radius: 7px;
            border-bottom-right-radius: 7px;
        }
        .aside__phone-number{
            font-size: 24px;
            margin: 0px;
        }
        .aside__email{
            margin: 12px 0px;
            font-size: 16px;
        }
    
        .lang:visited{
                background-color: $gg;
            }
    }
    .aside.active{
        left: 0vw;

    }
    
}
@media (min-width:767px) and (max-width: 1439px) {
    .aside{
        
        flex-direction: column;
        box-sizing: border-box;
        background-color: $w;
        width: 320px;
        height: 100%;
        font-family: inherit;
        position: absolute;
        left: -100vw;
        z-index: 10;
        transition: all .7s ease;

        .aside__cap{
            display: flex;
            justify-content: space-between;
        }
    
    
        .aside__basement{
            margin-left: 24px;
            position: absolute;
            bottom: 32px;
        }
        .aside__link{
            text-decoration: none;
            color: $gg;
        }
        .search-PC{
            display: inline-flex;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-image: url("../img/search.svg");
            position: relative;
            border: none;
            padding: 0;
            z-index: 0;
            margin-top: 24px;
            margin-right: 24px;
        }
        .aside__img{
            margin-left: 72px;
            margin-top: 16px;
        }
        
        
        .aside__list{
            margin-top: 20px;
            margin-left: 24px;
            padding: 0px;
        }
        .call{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-image: url("../img/call.svg");
            border: none;
            margin-right: 16px;
        }
        .chat{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-image: url("../img/chat.svg");
            border: none;
            margin-right: 16px;
            margin-left: 0;
    
        }
        .profile-PC{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-image: url("../img/profile.svg");
            border: none;
    
        }
        .aside__item{
            text-decoration: none;
            color: $gg;
            list-style: none;
            margin-bottom: 32px;
            margin-right: 75px;
            position: relative;
    
        }
        .aside__item:hover::before{
            content: "";
            position: absolute;
            background-color: $psevdo;
            height: 32px;
            width: 4px;
            top: -8px;
            left: -24px;
            border-top-right-radius: 7px;
            border-bottom-right-radius: 7px;
        }
        .aside__phone-number{
            font-size: 24px;
            margin: 0px;
        }
        .aside__email{
            margin-top: 16px;
            margin-bottom: 12px;
            font-size: 16px;
        }
        
    
        .lang:visited{
                background-color: $psevdo;
            }
    }
    .aside.active{
        left: 0vw;
    }
}
@media screen and (min-width: 1440px){
    .aside{
        position: fixed;
        left: 0;
        top: 0;
        box-sizing: border-box;
        flex-direction: column;
        background-color: $w;
        width: 320px;
        height: 100vh;
        font-family: inherit;
        padding: 33px 29px 0px 24px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        
        .aside__cap{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-content: center;
            align-items: baseline;  
            margin-bottom: 37px;
        }
    
    
        
        .aside__link{
            text-decoration: none;
            color: $gg;
        }
        .search-PC{
            display: inline-flex;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-image: url("../img/search.svg");
            position: relative;
            border: none;
            padding: 0;
            z-index: 0;
            
        }
        
        .aside__list{
            padding: 0px;
            margin: 0px;
            margin-bottom: 120px;
        }
        .call-PC{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-image: url("../img/call.svg");
            border: none;
            margin-right: 16px;
        }
        .chat-PC{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-image: url("../img/chat.svg");
            border: none;
            margin-right: 16px;
    
        }
        .profile-PC{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-image: url("../img/profile.svg");
            border: none;
            margin-left: 8px;
    
        }
        .aside__item{
            text-decoration: none;
            color: $gg;
            list-style: none;
            margin-bottom: 32px;
            margin-right: 75px;
            position: relative;
    
        }
        .aside__basement{
            margin-bottom: 32px;
        }
        .aside__item:hover::before{
            content: "";
            position: absolute;
            background-color: $psevdo;
            height: 32px;
            width: 4px;
            top: -8px;
            left: -24px;
            border-top-right-radius: 7px;
            border-bottom-right-radius: 7px;
        }
        .aside__phone-number{
            font-size: 24px;
            margin: 0px;
            margin-bottom: 40px;
        }
        .aside__email{
            margin: 0px;
            margin-top: 16px;
            margin-bottom: 12px;
            font-size: 16px;
        }
    
        .lang:visited{
                background-color: $gg;
            }
    }
    
}




