/*Стили для свайпера*/
$background: #F8F8F8;
$w: #ffffff;
$psevdo: #41F6D7;
$bullet: #DDDDDD;

.brand-table-button{
    font-family: inherit
;
}

@media (min-width: 320px) and (max-width: 767px) {
    
    .swiper {
        width: 100%;
        margin-left: 16px;
        overflow: hidden;
    }
    
    .swiper-wrapper{
        display: -webkit-box;
    }
    .swiper-slide{
        display: flex;
        justify-content: space-between;
        height: 72px;
        background-color: $w;
        border-radius: 10px;
    }
    
    .swiper-pagination{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    .swiper-pagination-bullet{
        display: block;
        width: 12px;
        height: 12px;
        background-color: $bullet;
        border-radius: 50%;
        margin: 6px;
    }
    .swiper-image{
        margin-bottom: auto;
        margin-top: auto;
        margin-left: 16px;

    }
    .swiper-go-brand{
        float: right;
        margin: 16px;
    }
    label{
        width: 240px;
        height: 72px;
    }
    .brand-table{
        display: none;
    }
    .brand-table-button{
        display: none;
    }
    .main__h2{
        
        padding-left: 24px;
        padding-top: 16px;
        padding-bottom: 16px;
        margin: 0;
    }
}

@media (min-width: 768px) and (max-width: 1439px) {
    
    .main__h2{
        background: linear-gradient(90deg, $background 1.39%, $w 100%);
        padding-left: 24px;
        padding-top: 16px;
        padding-bottom: 16px;
        margin: 0;
        height: 24px;
    }
    .swiper{
        display: none;
    }
    .brand-table{
        display: grid;
        grid-template-columns: repeat(3, 224px);
        gap: 16px 24px ;
        margin: 24px;
    }
    .brand-table-item:not(:nth-child(-n + 6)){
        display: none;
    }
    .brand-table-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 224px;
        height: 72px;
        background-color: $w;
        border-radius: 10px;
    }
    .brand-table-image{
        margin: 16px;
    }
    .brand-table-go{
        margin: 16px;
    }
    .brand-table-button {
        display: flex;
        position: relative;
        align-items: center;
        border: 0px;
        padding: 0;
        background: transparent;
        margin-left: 57px;
        margin-bottom: 31px;

    }
     .show-more::before{
        position: absolute;
        content: "";
        width: 24px;
        height: 24px;
        background-image: url("../img/expand.svg");
         left: -30px;
         bottom: -4px;
    }
     .hide::before{
         position: absolute;
         content: "";
         width: 24px;
         height: 24px;
         background: url("../img/expand.svg") 0 0 no-repeat;
         left: -30px;
         bottom: -4px;
         transform: rotate(180deg);
     }

}

@media screen and (min-width: 1440px) {
    .swiper{
        display: none;
    }
    .brand-table {
        display: grid;
        grid-template-columns: repeat(4, 240px);
        gap: 16px 24px;
        margin-bottom: 24px;
        margin-left: 32px;


    }
    .brand-table-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 240px;
        height: 72px;
        background-color: $w;
        border-radius: 10px;

    }
    .brand-table-image{
        margin: 16px;
    }
    .brand-table-go{
        margin: 16px;
    }
    .brand-table-button{
        border: 0;
        padding: 0;
        margin-left: 63px;
        background-color: transparent;
        cursor: pointer;

    }

    .brand-table-item:not(:nth-child(-n + 8)){
        display: none;
    }
    .brand-table-button {
        display: flex;
        position: relative;
        align-items: center;
        border: 0px;
        padding: 0;
        background: transparent;
        margin-left: 57px;

    }
    .show-more::before{
        position: absolute;
        content: "";
        width: 24px;
        height: 24px;
        background-image: url("../img/expand.svg");
        left: -30px;
        bottom: -4px;
    }
    .hide::before{
        position: absolute;
        content: "";
        width: 24px;
        height: 24px;
        background: url("../img/expand.svg") 0 0 no-repeat;
        left: -30px;
        bottom: -4px;
        transform: rotate(180deg);
    }
}


