@media (min-width: 320px) and (max-width: 767px) {
    .view-table{
        display: none;
    }
    .view-table__button{
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 1439px) {
    
    
    .main__h2{
        background-color: white;
        padding-left: 24px;
        padding-top: 16px;
        padding-bottom: 16px;
        margin: 0;
    }
    .swiper{
        display: none;
    }
    .view-table__wrapper{
        display: grid;
        grid-template-columns: repeat(3, 224px);
        gap: 16px 24px ;
        padding-bottom: 31px;
        margin: 1px solid #41F6D7;
    }
    .view-table{
        padding-bottom: 31px;
    }
    .view-table__h2{
        font-size: 16px;
        position: absolute;
        top: 0;
    }
    .view-table__item:not(:nth-child(-n + 3)){
        display: none;
    }
    .view-table__item{
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 224px;
        height: 160px;
        background-color: white;
        border-radius: 10px;
        padding: 16px;
        position: relative;
    }
    .view-table-go{
        bottom: 16px;
        right: 16px;
        position: absolute;
    }
    .view-table__button {
        display: flex;
        position: relative;
        align-items: center;
        border: 0px;
        padding: 0;
        background: transparent;
        margin-left: 57px;


    }
     .show-more::before{
        position: absolute;
        content: "";
        width: 24px;
        height: 24px;
        background-image: url("../img/expand.svg");
         left: -30px;
         bottom: -4px;
    }
     .hide::before{
         position: absolute;
         content: "";
         width: 24px;
         height: 24px;
         background: url("../img/expand.svg") 0 0 no-repeat;
         left: -30px;
         bottom: -4px;
         transform: rotate(180deg);
     }
    
    }
    @media screen and (min-width: 1440px) {
        .swiper{
            display: none;
        }
        h2{
            margin-left: 32px;
        }
        .view-table__wrapper {
            display: grid;
            grid-template-columns: repeat(4, 240px);
            gap: 16px 24px;
            margin-bottom: 24px;
            margin-left: 32px;
    
    
        }
        .view-table__item {
            display: flex;
            justify-content: space-between;
            width: 240px;
            height: 160px;
            background-color: white;
            border-radius: 10px;
            position: relative;
    
        }
        .view-table__h2{
            font-size: 16px;
            position: absolute;
            top: 16;
            margin: 16;
        }
        .view-table-go{
            bottom: 16px;
            right: 16px;
            position: absolute;
        }
        .view-table__button{
            border: 0;
            padding: 0;
            margin-left: 63px;
            background-color: transparent;
            cursor: pointer;
        }
    
        .view-table__item:not(:nth-child(-n + 4)){
            display: none;
        }
        .view-table__button {
            display: flex;
            position: relative;
            align-items: center;
            border: 0px;
            padding: 0;
            background: transparent;
            margin-left: 57px;
    
        }
        
    }
