$background: #F8F8F8;
$w: #ffffff;
$psevdo: #41F6D7;
$color-link: #FF3E79;

@media (min-width: 320px) and (max-width: 767px) {
    .order-table{
        display: none;
    }
    .order-table__button{
        display: none;
    }
    h2{
        margin-left: 32px;
        text-transform: uppercase;
    }
}
@media (min-width: 768px) and (max-width: 1439px) {
    
    
    .main__h2{
        background-color: white;
        padding-left: 24px;
        padding-top: 16px;
        padding-bottom: 16px;
        margin: 0;
    }
    .swiper{
        display: none;
    }
    .order-table{
        display: flex;
        flex-direction: column;
        padding-left: 24px;
    }
    .order-table__ul{
        width: 720px;
        display: grid;
        grid-template-rows: 64px 64px 64px 64px 64px;
        gap: 1px ;
        padding-inline-start: 0;
        margin: 0;
        justify-content: space-evenly; 
    }
    .third-swiper{
        margin: 0;
        margin-bottom: 31px;
        padding: 16px;
        padding-left: 24px;
    }
    .order-table__item:not(:nth-child(-n + 5)){
        display: none;
    }
    .order-table__item{
        display: grid;
        grid-template-columns: 372px 96px 101px 119px;
        align-items: center;
        padding: 0 16px;
        background-color: white;
        
    }
    .h3__item{
        margin: 0;
    }
    .order-table__h3{
        display: grid;
        grid-template-columns: 372px 96px 101px;
        padding-left: 16px;
        padding-right: 16px;
        
    }
    
    .order-table__button {
        display: flex;
        position: relative;
        align-items: center;
        border: 0px;
        padding: 0;
        background: transparent;
        margin-left: 57px;


    }
     .show-more::before{
        position: absolute;
        content: "";
        width: 24px;
        height: 24px;
        background-image: url("../img/expand.svg");
         left: -30px;
         bottom: -4px;
    }
     .hide::before{
         position: absolute;
         content: "";
         width: 24px;
         height: 24px;
         background: url("../img/expand.svg") 0 0 no-repeat;
         left: -30px;
         bottom: -4px;
         transform: rotate(180deg);
     }
    
    }
    @media screen and (min-width: 1440px) {
        .swiper{
            display: none;
        }
        h2{
            margin-left: 32px;
            
        }
        .order-table{
            display: flex;
            flex-direction: column;
            padding-left: 34px;
            
        }
        .order-table__ul{
            width: 720px;
            display: grid;
            justify-content: space-evenly;
            grid-template-rows: 64px 64px 64px 64px 64px;
            gap: 1px ;
            padding-inline-start: 0;
            margin: 0;
        }
        
        .order-table__item {
            display: grid;
            grid-template-columns: 470px 227px 192px 119px;
            align-items: center;
            padding: 0 16px;
            background-color: $w;
        
        }
        
        .order-table__h3{
            display: grid;
            grid-template-columns: 470px 227px 192px;
            padding-left: 16px;
            padding-right: 16px;
            
        }
        .order-table__button{
            border: 0;
            padding: 0;
            margin-left: 63px;
            background-color: transparent;
            cursor: pointer;
        }
    }
